.sm-simple {
    border: 1px solid #bbb;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.sm-simple a,
.sm-simple a:active,
.sm-simple a:focus,
.sm-simple a:hover {
    padding: 13px 20px;
    padding-right: 58px;
    color: #555;
    font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-decoration: none;
}
.sm-simple a.current {
    background: #555;
    color: #fff;
}
.sm-simple a.disabled {
    color: #ccc;
}
.sm-simple a span.sub-arrow {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 4px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 14px/34px monospace !important;
    text-align: center;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.08);
}
.sm-simple a.highlighted span.sub-arrow:before {
    display: block;
    content: "-";
}
.sm-simple li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-simple > li:first-child {
    border-top: 0;
}
.sm-simple ul {
    background: rgba(179, 179, 179, 0.1);
}
.sm-simple ul a,
.sm-simple ul a:active,
.sm-simple ul a:focus,
.sm-simple ul a:hover {
    font-size: 14px;
    border-left: 8px solid transparent;
}
.sm-simple ul ul a,
.sm-simple ul ul a:active,
.sm-simple ul ul a:focus,
.sm-simple ul ul a:hover {
    border-left: 16px solid transparent;
}
.sm-simple ul ul ul a,
.sm-simple ul ul ul a:active,
.sm-simple ul ul ul a:focus,
.sm-simple ul ul ul a:hover {
    border-left: 24px solid transparent;
}
.sm-simple ul ul ul ul a,
.sm-simple ul ul ul ul a:active,
.sm-simple ul ul ul ul a:focus,
.sm-simple ul ul ul ul a:hover {
    border-left: 32px solid transparent;
}
.sm-simple ul ul ul ul ul a,
.sm-simple ul ul ul ul ul a:active,
.sm-simple ul ul ul ul ul a:focus,
.sm-simple ul ul ul ul ul a:hover {
    border-left: 40px solid transparent;
}
@media (min-width: 768px) {
    .sm-simple ul {
        position: absolute;
        width: 12em;
    }
    .sm-simple li {
        float: left;
    }
    .sm-simple.sm-rtl li {
        float: right;
    }
    .sm-simple ul li,
    .sm-simple.sm-rtl ul li,
    .sm-simple.sm-vertical li {
        float: none;
    }
    .sm-simple a {
        white-space: nowrap;
    }
    .sm-simple ul a,
    .sm-simple.sm-vertical a {
        white-space: normal;
    }
    .sm-simple .sm-nowrap > li > :not(ul) a,
    .sm-simple .sm-nowrap > li > a {
        white-space: nowrap;
    }
    .sm-simple {
        background: #fff;
    }
    .sm-simple a,
    .sm-simple a.highlighted,
    .sm-simple a:active,
    .sm-simple a:focus,
    .sm-simple a:hover {
        padding: 11px 20px;
        color: #555;
    }
    .sm-simple a.highlighted,
    .sm-simple a:active,
    .sm-simple a:focus,
    .sm-simple a:hover {
        background: #eee;
    }
    .sm-simple a.current {
        background: #555;
        color: #fff;
    }
    .sm-simple a.disabled {
        background: #fff;
        color: #ccc;
    }
    .sm-simple a.has-submenu {
        padding-right: 32px;
    }
    .sm-simple a span.sub-arrow {
        top: 50%;
        margin-top: -8px;
        right: 20px;
        width: 8px;
        height: 16px;
        font: 14px/16px monospace !important;
        background: 0 0;
    }
    .sm-simple a.highlighted span.sub-arrow:before {
        display: none;
    }
    .sm-simple > li {
        border-top: 0;
        border-left: 1px solid #eee;
    }
    .sm-simple > li:first-child {
        border-left: 0;
    }
    .sm-simple ul {
        border: 1px solid #bbb;
        background: #fff;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .sm-simple ul a {
        border: 0 !important;
    }
    .sm-simple ul a.has-submenu {
        padding-right: 20px;
    }
    .sm-simple ul a span.sub-arrow {
        right: auto;
        margin-left: -12px;
    }
    .sm-simple ul > li {
        border-left: 0;
        border-top: 1px solid #eee;
    }
    .sm-simple ul > li:first-child {
        border-top: 0;
    }
    .sm-simple span.scroll-down,
    .sm-simple span.scroll-up {
        position: absolute;
        display: none;
        visibility: hidden;
        overflow: hidden;
        background: #fff;
        height: 20px;
    }
    .sm-simple span.scroll-down-arrow,
    .sm-simple span.scroll-up-arrow {
        position: absolute;
        top: -2px;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 8px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #555 transparent;
    }
    .sm-simple span.scroll-down-arrow {
        top: 6px;
        border-style: solid dashed dashed dashed;
        border-color: #555 transparent transparent transparent;
    }
    .sm-simple.sm-rtl a.has-submenu {
        padding-right: 20px;
        padding-left: 32px;
    }
    .sm-simple.sm-rtl a span.sub-arrow {
        right: auto;
        left: 20px;
    }
    .sm-simple.sm-rtl.sm-vertical a.has-submenu {
        padding: 11px 20px;
    }
    .sm-simple.sm-rtl.sm-vertical a span.sub-arrow {
        right: 20px;
        margin-right: -12px;
    }
    .sm-simple.sm-rtl > li:first-child {
        border-left: 1px solid #eee;
    }
    .sm-simple.sm-rtl > li:last-child {
        border-left: 0;
    }
    .sm-simple.sm-rtl ul a.has-submenu {
        padding: 11px 20px;
    }
    .sm-simple.sm-rtl ul a span.sub-arrow {
        right: 20px;
        margin-right: -12px;
    }
    .sm-simple.sm-vertical a span.sub-arrow {
        right: auto;
        margin-left: -12px;
    }
    .sm-simple.sm-vertical li {
        border-left: 0;
        border-top: 1px solid #eee;
    }
    .sm-simple.sm-vertical > li:first-child {
        border-top: 0;
    }
}






/* ===============================================
    Modification Of SM Simple To SM Luminous 
=============================================== */


ul.sm-luminous {
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: relative;
}

ul.sm-luminous li {
    position: relative;
    border: none;
}

ul.sm-luminous li a {
    position: relative;
    padding: 10px 20px !important;
    border: none;
    display: block;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 400;
}
ul.sm-luminous li a span.sub-arrow {
    margin-right: -12px;
}

ul.sm-luminous li a:hover {
    background-color: #222;
    color: #fff;
    padding: 10px 20px !important;
    border: none;
    display: block;
    font-size: 18px; 
    text-decoration: none;
    font-weight: 400;
}

.smartheader-cat {
    position: relative;
    z-index: 0;
}
.header-category {
    position: relative;
    background-color: #8bce35;
    z-index: 9;
}

.header-category .smartheader-cat {
    max-width: 1120px;
    margin: 0px auto;
    background-color: #f2e1c3;
}
@media screen and (max-width: 992px) {
    .header-cat {
        display: none !important;
    }
    
}
/* ===============================================
    Modification Of SM Simple To SM Luminous End
=============================================== */