@media screen and (min-width: 991px) {
}

@media screen and (max-width: 1365px) {
    .section-8 .left-side {
        padding: 0px 80px !important;
    }

    footer p {
        max-width: 100% !important;
    }

    .prod-with-cat {
        width: 35% !important;
    }
}
@media screen and (max-width: 1200px) {
    span.sidenav-open-close-for-mobile {
        top: 130px !important;
    }

    .fwidht-sidebar {
        top: 130px !important;
    }

    .fwidht-sidebar.show-sidenav span.sidenav-open-close-for-mobile {
        top: 130px !important;
    }
}

@media screen and (max-width: 1024px) {
    .customize-modal {
        width: 70% !important;
    }

    .product-style {
        flex-direction: column;
    }

    .home-shop .single-wrapper {
        width: 30%;
    }
}

@media screen and (max-width: 992px) {
    .off-canvas-logo {
        text-align: center;
    }
    .raising-category-menu .module-categories {
        margin-bottom: 20px;
        display: block;
        overflow: hidden;
    }
    .raising-main-menu {
        margin-bottom: 45px !important;
    }
    .categorySideBar.hide {
        display: block !important;
    }
    .right-iamge-layout .row > .col-md-6:first-child {
        order: 2;
    }

    .right-iamge-layout .row > .col-md-6:last-child {
        order: 1;
    }

    #hide_shop,
    .header-blog-toggle {
        display: none !important;
    }

    .product-description .product-footer .wishlist-wrapper {
        margin-bottom: 5px;
    }

    .mobile-view-show {
        display: block;
    }

    .mobile-view-hide {
        display: none;
    }

    .home-shop .single-wrapper {
        width: 28%;
    }

    .slider-content h2 {
        max-width: 80%;
    }

    .home-feature-two-box {
        margin-bottom: 20px;
        flex-direction: column;
        height: auto;
    }

    .home-feature-two-logo {
        margin-right: 0px;
    }

    .home-feature-two-content {
        text-align: center;
    }

    .navigation .navbar-header {
        justify-content: space-between;
    }

    .navigation .navbar-header > .logo {
        flex: auto;
        order: 0;
    }

    .search .dropdown-menu {
        left: auto !important;
    }

    .search .dropdown-menu:before {
        left: auto !important;
        right: 20px !important;
    }

    .navigation .menu .list > li > a {
        padding: 10px 0 !important;
    }

    .prod-with-cat {
        width: 42% !important;
    }

    .prod-lay-3 {
        width: 44% !important;
    }

    .swc-resp {
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .row-brand {
        flex-direction: column;
    }

    .col-brand {
        width: 50%;
    }

    .col-brand .brand-sample img {
        width: 100%;
    }

    #shop-product-all .single-wrapper {
        width: 40%;
    }

    .product-slider .slick-list {
        height: 420px !important;
    }

    .slider-content h2 {
        font-size: 24px;
    }

    .customize-modal {
        width: 82% !important;
    }

    .shop-inner-page .elevatezoom .elevatezoom-holder {
        float: none !important;
        width: 100% !important;
        margin-right: 0px !important;
        max-width: 100% !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
    }

    .customize-modal {
        width: 82% !important;
    }

    .section-8 .left-side {
        padding: 0px 30px !important;
    }

    .checkout-box-shadow-style h2 {
        font-size: 16px;
        font-weight: 700;
    }

    .header-search {
        margin-top: 15px;
    }
}

@media screen and (max-width: 767.5px) {
    .faq-heading-wrapper {
        flex-direction: column;
        height: auto;
    }

    .faq-heading-image {
        margin-top: 10px;
        width: 100%;
    }

    .faq-heading-header {
        padding: 20px !important;
    }

    .fwidht-sidebar {
        top: 200px !important;
    }

    span.sidenav-open-close-for-mobile {
        top: 200px !important;
    }

    .fwidht-sidebar.show-sidenav {
        top: 200px !important;
    }

    .fwidht-sidebar.show-sidenav span.sidenav-open-close-for-mobile {
        top: 200px !important;
    }

    footer .copyright p {
        text-align: center;
    }

    .footer-card-image {
        justify-content: center;
    }

    .fullwidth-offcanvas-menu {
        margin-right: 0;
        margin-left: 50px;
    }

    span.closeOffcanvas {
        right: 20px;
    }

    .responsive-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999999;
        padding-right: 10px;
    }

    .search-header-form {
        justify-content: center;
    }

    .header-search {
        margin-bottom: 20px;
    }

    .brand-res-sample img {
        height: auto;
    }

    .shop-inner-tabs nav {
        padding-right: 10px;
    }

    .shop-inner-tabs .tab-content {
        border-left: 0px !important;
    }

    .home-shop .single-wrapper {
        width: 44%;
    }

    .shipping-sys {
        margin-top: 20px;
    }

    .action-button {
        margin-top: 20px;
    }

    .navigation .navbar-header .toggle {
        width: auto;
    }

    .navigation .navbar-header .logo a {
        width: auto;
    }

    table.mw-cart-table td img {
        width: auto !important;
    }

    .cart-table,
    .cart-table thead,
    .cart-table tbody,
    .cart-table th,
    .cart-table td,
    .cart-table tr {
        display: block !important;
    }

    .cart-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .cart-table tr {
        border: 1px solid #ccc !important;
    }

    .cart-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 40% !important;
    }

    .cart-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .cart-table td:nth-of-type(3):before {
        content: "Menge";
    }

    .cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .cart-table td:nth-of-type(5):before {
        content: "Servicepreis";
    }

    .cart-table td:nth-of-type(6):before {
        content: "Gesamt";
    }

    .cart-table td:nth-of-type(7):before {
        content: "Löschen";
    }

    .cart-table td:nth-of-type(6) {
        text-align: left !important;
    }

    .cart-table td:nth-of-type(7) {
        text-align: left !important;
    }

    .cart-table-delete {
        text-align: left !important;
    }

    table.mw-cart-table td:first-child {
        padding: 0px !important;
        padding-left: 50% !important;
    }

    .checkout-total-table,
    .checkout-total-table thead,
    .checkout-total-table tbody,
    .checkout-total-table th,
    .checkout-total-table td,
    .checkout-total-table tr {
        display: block !important;
    }

    .checkout-total-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .checkout-total-table tr {
        border: 1px solid #ccc !important;
    }

    .checkout-total-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        text-align: left !important;
    }

    table.mw-cart-table.checkout-total-table td:first-child {
        padding-left: 1% !important;
    }

    .checkout-total-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .checkout-total-table label {
        text-align: left !important;
    }

    .cell-shipping-country .shipping-country-select {
        margin-left: 0;
    }

    .product-order-table,
    .product-order-table thead,
    .product-order-table tbody,
    .product-order-table th,
    .product-order-table td,
    .product-order-table tr {
        display: block !important;
    }

    .product-order-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .product-order-table tr {
        border: 1px solid #ccc !important;
    }

    .product-order-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .product-order-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
    }

    .product-order-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .product-order-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .product-order-table td:nth-of-type(3):before {
        content: "Menge";
    }

    .product-order-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .product-order-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    .my-order-status.pull-right {
        float: none !important;
    }

    .withoutService.cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .withoutService.cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .withoutService.cart-table td:nth-of-type(3):before {
        content: "Menge";
    }

    .withoutService.cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .withoutService.cart-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    .withoutService.cart-table td:nth-of-type(6):before {
        content: "Löschen";
    }
}
@media screen and (max-width: 767px) {
    .right-iamge-layout .row .col-md-6:first-child {
        order: 2;
    }

    .right-iamge-layout .row .col-md-6:last-child {
        order: 1;
    }
    .product-search-box select#category_list {
        color: #000 !important;
    }

    .for-mobile-2nd-row
        .header-search
        .product-search-box
        .autocomplete.showInputForMobile
        input#productSearchInput {
        color: #000 !important;
    }
    .member-nav-cart p,
    .member-nav-admin > a > span,
    .member-nav > li a {
        font-size: 12px;
        line-height: 26px;
    }
    .for-mobile-3rd-row {
        order: 3;
    }

    .menu-logo-secondary {
        display: block;
        margin: 0px auto !important;
    }
    .for-mobile-2nd-row .header-search .autocomplete-items div {
        text-align: left;
    }
    .for-mobile-2nd-row {
        order: 2;
    }

    .for-mobile-1st-row {
        order: 1;
        margin-bottom: 20px;
    }

    .for-mobile-2nd-row .header-search {
    }

    .for-mobile-2nd-row .header-search .product-search-box {
        margin: 0px auto;
    }

    .for-mobile-2nd-row .header-search .product-search-box .autocomplete {
        position: absolute;
        bottom: -57px;
        right: 0px;
        background-color: #fff;
        z-index: 1;
        width: 37px !important;
        transition: 0.5s ease;
    }

    .for-mobile-3rd-row {
    }

    .for-mobile-3rd-row ul.member-nav {
        padding: 0px;
    }

    .for-mobile-2nd-row
        .header-search
        .product-search-box
        .autocomplete
        button.btn {
        background-color: #000;
        color: #fff;
        top: 3px !important;
    }

    .for-mobile-2nd-row
        .header-search
        .product-search-box
        .autocomplete
        input#productSearchInput {
        border: 1px solid #000;
        border-radius: 3px;
        background-color: #fff;
        opacity: 0;
    }
    .for-mobile-2nd-row
        .header-search
        .product-search-box
        .autocomplete
        .mobileSearchtoggle {
        position: absolute;
        right: 0;
        top: 0;
        width: 38px;
        height: 30px;
        z-index: 9;
    }

    .for-mobile-2nd-row
        .header-search
        .product-search-box
        .autocomplete.showInputForMobile {
        width: 100% !important;
    }
    .for-mobile-2nd-row
        .header-search
        .product-search-box
        .autocomplete.showInputForMobile {
        margin: 0px auto !important;
    }

    .for-mobile-2nd-row
        .header-search
        .product-search-box
        .autocomplete.showInputForMobile
        input#productSearchInput {
        opacity: 1;
    }
    button#js-hamburger {
        position: fixed;
        top: 15px !important;
        right: 0;
        z-index: 9;
    }

    body.scrollOff .offCanvasNav {
        z-index: 999999999;
    }
    .navigation .navbar-header .member-nav {
        justify-content: flex-end;
    }
    .navigation .navbar-header .navbar-main {
        width: 100%;
        max-width: 320px;
    }

    .for-mobile-2nd-row .header-search {
        margin: 0px auto 20px !important;
    }
}

@media screen and (max-width: 520px) {
    #progressbar li span {
        width: 166px !important;
        padding-right: 20px !important;
    }
    .footer-copyright .row {
        flex-direction: column;
    }

    #ordersModal .modal-dialog {
        max-width: 94% !important;
        width: 94% !important;
    }

    .navigation .container-fluid {
        padding: 0 !important;
    }

    .navbar-main {
        width: 100%;
        margin: 0 auto;
    }

    #shop-product-all .single-wrapper {
        width: 42% !important;
    }

    #header-logo {
        max-width: 50px;
    }

    .search-header-form input {
        width: 150px;
    }

    .brand-res-sample.brand-res-two {
        margin-top: 0px;
    }

    .product-slider .slick-list {
        height: 400px !important;
    }

    .product-slider .slick-track {
        height: 100%;
    }

    .product-slider .holder {
        height: 100%;
    }

    .product-slider .slick-slide img {
        height: 100%;
    }

    .product-slider .holder > a {
        height: 100%;
        display: inline-block;
    }

    .checkout-bumbs .shop-products {
        width: 100%;
    }

    .cart-bumbs-product-photo .image,
    .checkout-bumbs-product-photo .image {
        justify-content: center;
    }

    .cart-bumbs-product,
    .checkout-bumbs-product {
        flex-direction: column;
    }

    .home-shop .single-wrapper {
        width: 43%;
        margin: 0 10px;
    }

    .shop-all-top-text h4 {
        font-size: 16px;
    }

    #shop-product-all {
        padding-top: 20px;
    }

    .prod-with-cat {
        width: 100% !important;
    }
}

@media screen and (max-width: 426px) {
    .btn-overlay {
        flex-direction: row;
    }

    .cart-button-thumb-area a.btn.btn-product {
        left: 6px;
    }

    #cartModal .modal-dialog {
        width: 95%;
    }

    .slider-content h2 {
        font-size: 18px;
        line-height: 1.5;
    }

    .shop-all-top-text h4 {
        max-width: 200px;
    }

    .shopping-info {
        width: 82% !important;
    }

    #progressbar li span {
        width: 143px;
        height: 38px;
        padding-right: 8px;
        font-size: 8px;
    }

    .navigation .navbar-header {
        flex-flow: column;
    }

    .select2-container {
        width: 85px !important;
    }

    .product-sample-button .btn {
        padding: 4px 6px !important;
    }

    #shop-product-all .single-wrapper {
        width: 100% !important;
    }
}
