input:focus-visible {
    outline: 0px !important;
}

.member-nav {
    display: flex;
    align-items: center;
}

.member-nav .btn-cart {
    margin: 0 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 5px;
}

.nk-navbar-top .nk-nav-table {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.btn-member {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.btn-member .dropdown-menu {
    transform: translate3d(0px, 0px, 0px) !important;
    left: auto !important;
    right: 0 !important;
    top: 110% !important;
    padding: 10px;
}

.btn-member .dropdown-menu li {
    padding: 5px 0;
}

.nk-navbar {
    padding: 20px 0 !important;
}

.btn-member > a {
    display: flex;
    align-items: center;
}

.select2-container {
    width: 110px !important;
}

.product-des {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 98px;
}

.product-wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.wishlist-logo {
    margin-right: 10px;
    color: red !important;
}

.product-des .product-tax-text {
    margin: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 21px;
}

.product-tax-text .edit {
    display: inline-block;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
}

.product-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart button,
.product-quickout a {
    padding: 5px !important;
    display: inline-block;
    line-height: 0 !important;
}

.product-button .material-icons {
    font-size: 16px !important;
}

.product-button .add-to-cart {
    margin-right: 8px;
}

.shop-main {
    padding: 50px 0;
}

.module-shop-products .nk-portfolio-list .nk-isotope-item {
    padding: 10px 20px !important;
}

.module-shop-products .nk-isotope.nk-isotope-3-cols .nk-isotope-item {
    width: 32% !important;
}

.sidebar-custom-style {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar__widget {
    margin-bottom: 20px;
}

#wishlist-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#delete_sss,
#edit_sss {
    border: 1px solid #000;
    padding: 5px;
    margin: 0 5px;
}

#delete_sss span,
#edit_sss span {
    font-size: 16px;
}

#wishlist-list li > a {
    display: inline-block;
    margin-right: 10px;
}

#wishlist-list li {
    margin-bottom: 15px;
}

.modal-backdrop.show {
    display: none !important;
}

.wishlist-sidebar-button button {
    white-space: normal;
}

.wishlist-sidebar-button {
    margin-top: 10px;
}

.nk-isotope-item {
    margin-bottom: 40px;
}

.nk-portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.nk-isotope .nk-isotope-item {
    float: none;
}

.item-cart-button button {
    border: 1px solid #000;
}

.product-inner-wishlist {
    display: flex;
    align-items: center;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    width: 50%;
    position: relative;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
    float: left;
    color: #fff;
    font-weight: 600;
}

#progressbar li span {
    display: flex;
    align-items: center;
    background-color: #28a745;
    clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
    width: 242px;
    height: 50px;
    justify-content: center;
    padding-right: 15px;
    margin: 0 auto;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: flex;
    font-size: 12px;
    color: #fff;
    background: #ccc;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
    content: "";
    width: 100%;
    height: 4px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 0;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    width: 50%;
    left: 51%;
}

#progressbar li:last-child:after {
    width: 49%;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #28a745;
    color: #fff;
}

.shipping-sys h2 {
    margin-top: 0 !important;
}

.checkout-box-shadow-style {
    box-shadow: 0 0 6px 0px #b9e4ff;
    padding: 10px;
    border: 1px solid #ecf1f5;
    border-radius: 5px;
}

.cell-shipping-country .shipping-country-select {
    width: 50%;
    margin-left: auto;
}

.products-amount .btn {
    color: #fff !important;
}

#loginModal .modal-body {
    text-align: center;
}

#loginModal .icon i {
    font-size: 20px;
}

.styled-checkbox {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.styled-checkbox input {
    margin-right: 10px;
}

.forgetPass-text {
    text-align: right;
}

.login-modal .or {
    line-height: 1.5;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.login-modal .or span {
    display: inline-block;
    position: relative;
}

.login-modal .or span:before,
.login-modal .or span:after {
    content: "";
    position: absolute;
    height: 13px;
    border-bottom: 1px solid #c3c3c3;
    top: 0;
    width: 600px;
}

.login-modal .or span:before {
    right: 100%;
    margin-right: 15px;
}

.login-modal .or span:after {
    left: 100%;
    margin-left: 15px;
}

.login-modal .act a {
    font-size: 16px;
    text-transform: uppercase;
    color: #505050;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-modal .act a:hover {
    opacity: 0.8;
}

.login-modal .act a span {
    display: block;
}

.login-modal .personal-data {
    color: #bbbbbb !important;
    text-align: justify !important;
}

.discount-button {
    margin-top: 20px;
}

.discount-button a {
    border: 1px solid #000;
}

.gateway-selector p {
    margin-bottom: 30px;
}

.nk-nav-right {
    display: none !important;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu > li > a {
    padding: 15px 10px !important;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu {
    width: auto !important;
    margin: 0 !important;
}

#shoppingCartModal,
#exampleModalCenter,
#exampleModalCenteredit,
#loginModal {
    background-color: rgba(0, 0, 0, 0.5);
}

.item-cart {
    margin-top: 20px;
}

.checkout-checkbox {
    margin-bottom: 20px;
}

.mw-shop-checkout-personal-info-holder .btn,
.discount-button .btn,
.add-cart-btn {
    background-color: #007bff !important;
    border: 1px solid #007bff !important;
    color: #fff !important;
}

.mw-shop-checkout-personal-info-holder .btn:hover,
.discount-button .btn:hover,
.add-cart-btn:hover {
    background-color: #007bff !important;
    color: #fff !important;
    border: 1px solid #007bff !important;
}

.btn-search {
    background-color: transparent !important;
    padding: 7px 10px !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 1px solid #ccc;
}

.btn-search i {
    margin: 0 !important;
    color: #000 !important;
}

.search .dropdown-menu {
    padding: 5px;
    transform: translate3d(0px, 0px, 0px) !important;
    top: 32px !important;
    left: auto !important;
    right: 0% !important;
}

.search-header-form button {
    border: 1px solid #ccc;
    margin-left: 5px;
}

.search-header-form input {
    border: 1px solid #ccc;
}

#cartModal .modal-dialog {
    max-width: 1200px !important;
}

.table-responsive.cart-table {
    display: table;
}

.product-quantity_number input,
.product-quantity_number textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

.product-quantity_number input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.product-quantity_number input::-webkit-outer-spin-button,
.product-quantity_number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.product-quantity_number input[type="number"] {
    -moz-appearance: textfield !important;
}

.product-quantity_number .input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
}

.product-quantity_number .input-group input[type="button"] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

.product-quantity_number .input-group .button-minus,
.product-quantity_number .input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.product-quantity_number .input-group .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}

.product-quantity_number .button-plus {
    left: -13px;
}

.product-quantity_number input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.mw-cart-item td .mw-order-item-image {
    height: 70px !important;
}

table.mw-cart-table th {
    font-size: 12px;
}

table.mw-cart-table th:first-child {
    width: 80px !important;
}

table.mw-cart-table td img {
    width: 100%;
    height: auto;
}

table.mw-cart-table td:first-child {
    padding: 5px !important;
    vertical-align: middle !important;
}

table.mw-cart-table td {
    vertical-align: middle !important;
    font-size: 12px;
    line-height: 20px !important;
}

table.mw-cart-table td.mw-cart-table-product {
    text-align: left;
}

.btn.btn-default {
    background-color: #000;
    color: #fff;
}

.error-page {
    padding: 50px;
    text-align: center;
}

.error-page h1 {
    font-size: 100px;
    margin-bottom: 50px;
}

.error-page h2 {
    margin-bottom: 20px;
}

.product-tax-text span:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}

.footer-menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-menu ul li {
    margin: 0 10px;
}

.footer-menu ul li a {
    color: #000;
}

.blog-read-more-text {
    margin-top: 20px;
    display: inline-block;
}

.blog-inner-image > div {
    background-attachment: fixed;
}

.pagination {
    position: relative;
    padding-left: 100px !important;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.page-item-Last-item {
    position: absolute;
    top: 0;
    left: 0;
}

.select2-results__option {
    word-wrap: break-word;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    white-space: normal !important;
    word-break: break-word !important;
    padding-right: 5px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    height: 100%;
}

/* Cart Bumbs */
.cart-bumbs-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px !important;
    flex-direction: column;
}

.cart-bumbs-product-description h2 {
    font-size: 22px !important;
    color: black !important;
}

.cart-bumbs-product-description .price span {
    font-size: 18px !important;
}

.cart-bumbs-cartButton {
    display: flex;
    justify-content: center;
}

.cart-bumbs {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    padding: 10px;
    margin: 15px 0;
}

.cart-bumbs-product-photo {
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.cart-bumbs-product-description {
    text-align: center;
}

.cart-bumbs-product-photo .image {
    height: 100% !important;
    width: 100% !important;
    border: 0px !important;
}

.cart-products-amount {
    margin-top: 20px;
}

.cart-bumbs-product-description .price {
    margin: 10px 0;
}

/* Checkout Bumbs */

.checkout-bumbs-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px !important;
    flex-direction: column;
}

.checkout-bumbs-product-photo .image {
    width: 100% !important;
    border: 0px !important;
}

.checkout-bumbs-product-description h2 {
    font-size: 22px !important;
    color: black !important;
}

.checkout-bumbs-product-description .price span {
    font-size: 18px !important;
}

.checkout-bumbs-cartButton {
    display: flex;
    justify-content: center;
}

.checkout-bumbs {
    margin-top: 25px;
}

.checkout-bumbs .shop-products {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}

.checkout-bumbs-product-photo {
    margin-bottom: 20px;
}

.checkout-bumbs-product-description {
    text-align: center;
}

.checkout-bumbs-product-description .price {
    margin: 10px 0;
}

.cart-bumbs-product-photo .image img {
    height: 100%;
}

.checkout-bumbs-product-photo .image img {
    height: 100%;
}

.legalModule-heading {
    background-color: rgb(225 225 225);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.legalModule-content {
    padding: 50px 0;
}

/* Stripe Card Payment Style */

.stripe-card-data {
    margin-bottom: 20px;
}

.CardNumberField-input-wrapper .InputContainer {
    background-color: #efefef;
}

.CardNumberField-input-wrapper input.InputElement,
.CardField-expiry input.InputElement,
.CardField-cvc input.InputElement {
    border-bottom: 1px solid #dbdbdb;
    background-color: #efefef;
}

span.CardField-cvc.CardField-child {
    margin-left: 2px;
}

#wishlist-list li > span,
#wishlist-list li > a {
    display: block !important;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;
    color: rgb(33, 33, 33);
    position: relative;
    text-decoration: none !important;
    word-break: break-word;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.pagination .page-link {
    border: 1px solid #007bff !important;
    margin: 0 8px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #373737;
}

.pagination .page-item {
    display: inline-block !important;
    list-style-type: none !important;
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
    background-color: #007bff !important;
    color: #fff !important;
    border-radius: 5px;
}

.pagination .page-item.active .page-link,
.pagination .page-item.active .page-link:hover {
    background-color: #007bff !important;
    color: #fff !important;
    border-radius: 5px;
}

.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #dee2e6 !important;
}

.item-price {
    text-align: center;
    margin-bottom: 8px;
}

.product-tax-text {
    font-size: 14px;
    text-align: center;
}

.upselling-item .table thead {
    background: #007bff;
    color: #fff;
}

.module-shop-products .nk-isotope.nk-isotope-4-cols .nk-isotope-item {
    width: 24% !important;
    padding: 10px 20px !important;
}

.mobile-view-title {
    display: none;
}

.nk-navbar .nk-nav {
    position: relative;
}

.nk-navbar .nk-nav li {
    position: relative;
}

.nk-navbar .nk-nav li ul.dropdown-menu {
    position: absolute;
    display: none;
    z-index: 9;
    padding: 7px 0;
}

.nk-navbar .nk-nav li:hover > ul.dropdown-menu {
    display: block;
}

.nk-navbar .nk-nav li ul.dropdown-menu li {
}

.nk-navbar .nk-nav li ul.dropdown-menu li a {
    position: relative;
    padding: 5px 10px !important;
    display: block;
}

.thank-you-page-wrapper {
    padding: 50px 0;
}

.thank-you-page {
    width: 100% !important;
}

.thank-you-row {
    width: 100% !important;
}

.thank-you-row .description > a {
    display: inline-block;
    color: inherit;
}

.thank-you-row .description > a:hover {
    text-decoration: none;
    color: inherit;
}

.thank-you-row .description .price {
    text-align: center;
}

.modal.fade {
    opacity: 1 !important;
}

.checkout-bumbs .description > a {
    display: inline-block;
}

.checkout-bumbs .description > a:hover {
    text-decoration: none;
}

.checkout-bumbs .description .price {
    color: #000;
}

.btn.btn-default:hover {
    color: #fff;
}

.nk-header-title.nk-header-title-full {
    height: 85vh !important;
}

.product-row .nk-portfolio-list .nk-portfolio-item {
    margin-bottom: 10px;
}

.product-title-wrapper {
    min-height: 64px;
    overflow: hidden;
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}

.product-price {
    text-align: center;
    min-height: 23px;
}

.categorySideBar {
    position: relative;
}

.categorySideBar .module-categories {
    position: relative;
}

.categorySideBar .module-categories .well {
    position: relative;
    background-color: #fff;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}

.categorySideBar .module-categories ul.nav {
    position: relative;
}

.categorySideBar .module-categories ul.nav li {
    position: relative;
    width: 100%;
    padding: 0px;
}

.categorySideBar .module-categories ul.nav li a {
    color: #222;
    font-size: 15px;
    line-height: 22px;
    display: block;
    padding: 8px 12px;
    background-color: #e6e6e6;
    margin: 2px auto;
    border-radius: 2px;
}

.categorySideBar .module-categories ul.nav li ul {
    padding-left: 10px;
}

.categorySideBar .module-categories > .well > ul.nav {
    position: relative;
    overflow: hidden;
}

.categorySideBar .module-categories > .well > ul.nav > li {
    position: relative;
}

.categorySideBar .module-categories > .well > ul.nav li {
    position: relative;
}

.categorySideBar .module-categories > .well > ul.nav > li ul {
    height: 0px;
    position: relative;
    overflow: hidden;
    left: -100%;
    transition: 0.7s ease;
}

/* .categorySideBar .module-categories>.well>ul.nav li:hover>ul {
    left: 0px;
    height: auto;
} */

.categorySideBar .module-categories > .well > ul.nav li > a:hover {
    background-color: #f6f6f6;
}

/* .categorySideBar .module-categories>.well>ul.nav li span.hs-toggle {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #7b7b7b;
    top: 10px;
    right: 5px;
    z-index: 1;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    display: none;
} */

/* .categorySideBar .module-categories>.well>ul.nav li span.hs-toggle:after {
    position: absolute;
    top: -3px;
    content: "+";
    width: 100%;
    text-align: center;
} */

/* .categorySideBar .module-categories>.well>ul.nav li.showThisSub span.hs-toggle:after {
    position: absolute;
    content: "-";
} */

/* .categorySideBar .module-categories>.well>ul.nav li.showThisSub ul {
    left: 0px;
    height: auto;
} */

span.viewMoreCategory {
    display: none;
}

.categorySideBar span.clickExpandBtn {
    display: none;
    border-radius: 3px;
}

.categorySideBar span.clickExpandBtn i.fa-caret-down {
    position: relative;
    top: -3px;
}

@media only screen and (min-width: 992px) {
    .categorySideBar .module-categories .well > ul.nav li.showDropCat > ul {
        left: 0px;
        height: auto;
    }

    .categorySideBar span.clickExpandBtn {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 10px;
        z-index: 1;
        height: 20px;
        width: 20px;
        border: 1px solid #000;
        text-align: center;
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .categorySideBar .module-categories .well > ul.nav li.showDropCat > ul {
        left: 0px;
        height: auto;
    }

    .categorySideBar span.clickExpandBtn {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 10px;
        z-index: 1;
        height: 20px;
        width: 20px;
        border: 1px solid #000;
        text-align: center;
        display: block;
    }

    /* .categorySideBar .module-categories>.well>ul.nav li span.hs-toggle {
        display: block;
    } */

    span.viewMoreCategory {
        position: relative;
        display: block;
        background-color: #7b7b7b;
        color: #fff;
        font-size: 15px;
        line-height: 22px;
        padding: 8px;
        text-align: center;
        cursor: pointer;
    }

    .categorySideBar .module-categories > .well > ul.nav > li {
        display: none;
    }

    .categorySideBar
        .module-categories
        > .well
        > ul.nav.nav-list.show_ucmAll
        > li {
        display: block;
    }

    .categorySideBar .module-categories > .well > ul.nav > li:first-child,
    .categorySideBar .module-categories > .well > ul.nav > li:nth-child(2),
    .categorySideBar .module-categories > .well > ul.nav > li:nth-child(3),
    .categorySideBar .module-categories > .well > ul.nav > li:nth-child(4),
    .categorySideBar .module-categories > .well > ul.nav > li:nth-child(5) {
        display: block;
    }
}

/* Header Categoty Style */

.header-cat .nav > li {
    width: auto !important;
    float: none !important;
    margin-right: 40px;
    position: relative;
}

.header-cat .nav li > ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #000;
    top: 100%;
    left: 0;
    transition: all 0.3s;
    width: 200px;
}

.header-cat .nav li > ul > li {
    margin-right: 0;
    text-align: left;
    width: 100% !important;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
}

.header-cat .nav li > ul > li a {
    padding-left: 0;
    color: #fff;
    font-weight: 400;
}

.header-cat .nav > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.header-cat .nav li > ul > li > ul {
    left: 102%;
    top: 30%;
}

.header-cat .nav li.sub-cat {
    position: relative;
}

.header-cat .nav li.sub-cat::after {
    position: absolute;
    content: "\f178";
    font-family: "FontAwesome";
    right: 6px;
    color: #fff;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.shop-main-page .breadcrumb,
.blog-main-page .breadcrumb {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.shop-breadcumb-header,
.blog-breadcumb-header {
    margin-bottom: 20px;
}

.shop-breadcumb .breadcrumb,
.blog-breadcumb .breadcrumb {
    justify-content: flex-start;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.breadcrumb-container .breadcrumb {
    margin-bottom: 0;
    background: transparent;
    padding-left: 0px !important;
}

.breadcrumb-container {
    margin: 10px 0;
    background-color: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.blog-inner-main .breadcrumb {
    background-color: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

a.dropdown-toggle::after {
    float: right;
    display: block;
    margin-top: 8px;
    margin-right: 0px !important;
}

/* #mobile-navigation ul li li .caret {
    position: absolute;
    top: 19px;
    right: 10px;
} */
.nk-navbar .nk-nav > li a .caret {
    display: inline-block !important;
    margin-left: 0.255em !important;
    vertical-align: 0.255em !important;
    content: "" !important;
    border-top: 0.3em solid !important;
    border-right: 0.3em solid transparent !important;
    border-bottom: 0 !important;
    border-left: 0.3em solid transparent !important;
    margin-top: 8px;
    float: right;
}

.nk-navbar .nk-nav li ul.dropdown-menu li {
    width: 180px;
    padding: 0;
}

.nk-navbar .nk-nav li ul.dropdown-menu li a {
    white-space: normal !important;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    font-size: 17px;
    word-break: break-word !important;
    padding: 4px 14px 4px 10px !important;
}

.nk-navbar .nk-nav li:hover:hover > a .caret {
    transform: rotate(-90deg);
}

#main-navigation li ul li ul {
    left: 180px;
    top: 0;
    transition: 0.5s;
}

@media screen and (min-width: 1450px) {
    .modal-dialog.modal-dialog-centered {
        margin: 0 auto !important;
    }
}

/*
@media screen and (min-width: 991px) {
    #custom_nav>li ul {
        display: none;
        background-clip: padding-box !important;
    }

    #custom_nav li ul li {
        width: 180px;
        padding: 0;
    }

    #custom_nav li ul.dropdown-menu {
        opacity: unset !important;
        visibility: unset !important;
    }

    #custom_nav li ul li a {
        white-space: normal !important;
        display: block;
        width: 100%;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        font-size: 17px;
        word-break: break-word !important;
        padding: 4px 14px 4px 10px !important;
    }

    #custom_nav>li ul>li ul {
        position: absolute !important;
        content: '';
        left: 181px !important;
        top: 0 !important;
        transform: unset !important;
        will-change: unset !important;
    }

    #custom_nav .dropdown-menu.show {
        display: none !important;
    }

    #custom_nav li a:active+ul.dropdown-menu,
    #custom_nav li a:focus+ul.dropdown-menu,
    #custom_nav li ul.dropdown-menu:hover {
        display: block !important;
        transform: unset !important;
        top: 30px !important;
        left: 0 !important;
        will-change: unset !important;
        position: absolute !important;
        height: max-content !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;

    }

    #custom_nav ul.dropdown-menu li a:active+ul,
    #custom_nav ul.dropdown-menu li a:focus+ul,
    #custom_nav ul.dropdown-menu li ul:hover {
        display: block !important;
        height: max-content !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        left: 181px !important;
        top: 0 !important;
    }

    #custom_nav ul.dropdown-menu li:hover {
        cursor: pointer;
    }

    #custom_nav ul.dropdown-menu li:hover>a .caret,
    #custom_nav ul.dropdown-menu li a:focus a .caret {
        transform: rotate(-90deg);
    }

    #custom_nav li.has-sub-menu.dropdown.show>ul.dropdown-menu.show {
        display: block !important;
    }

} */

@media screen and (max-width: 991px) {
    .activeSubforMobile > ul.dropdown-menu {
        display: block !important;
        width: 90%;
        position: relative !important;
        float: unset !important;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .nk-navbar ul > :not(li.activeSubforMobile) > ul {
        display: none !important;
    }

    .nk-navbar .nk-nav > li a .caret {
        margin-top: 0 !important;
        float: unset !important;
    }

    .nk-navbar .nk-nav li ul.dropdown-menu li {
        width: 100%;
        padding: 0;
    }

    /* #mobile-navigation .have-submenu ul {

    } */
}

#main-menu a[href=""],
#main-menu a[href="#"],
header a[href=""],
header a[href="#"],
nav a[href=""],
nav a[href="#"] {
    pointer-events: auto !important;
    /* cursor: no-drop; */
}

.pricing-list-new > div {
    max-width: 290px;
    margin-bottom: 30px;
}

.pricing-list-new .btn {
    min-width: unset;
}

.pricing-list-new .plan {
    max-width: 290px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.28);
    box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.28);
    height: 100%;
    margin: 0 auto;
}

.pricing-list-new .plan .label {
    font-size: 12px;
    text-align: center;
    min-height: 26px;
    width: 100%;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 7px;
}

.pricing-list-new .plan .label.bestseller {
    background: #0044de;
    color: #f4f4f4;
}

.pricing-list-new .plan .heading {
    font-size: 16px;
    text-align: center;
    padding: 20px 10px;
}

.pricing-list-new .plan .heading .price {
    position: relative;
    margin-top: 10px;
}

.pricing-list-new .plan .heading .price .sum {
    font-size: 75px;
    font-weight: 700;
    margin: 0;
    color: #212121;
}

.pricing-list-new .plan .heading .price small {
    font-size: 16px;
    font-weight: 700;
    color: #212121;
}

.pricing-list-new .plan .heading .price .period {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    position: relative;
    display: block;
    margin-top: 20px;
    color: #212121;
}

.pricing-list-new .plan .heading .price .period:after {
    margin: 10px auto 0;
    display: block;
    content: "";
    width: 100%;
    max-width: 75px;
    height: 4px;
    background-color: #0044de;
    -webkit-mask-image: url(../img/hr.svg);
    mask-image: url(../img/hr.svg);
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.pricing-list-new .plan .heading p {
    font-size: 16px;
    color: #0044de;
    font-weight: 600;
}

.pricing-list-new .plan .description {
    text-align: center;
    padding: 0 15px 45px;
}

.pricing-list-new .plan .description p {
    font-size: 16px;
    text-align: center;
}

.pricing-list-new .plan .description p.strikethrough {
    text-decoration: line-through;
    color: #868686;
}

.pricing-list-new .plan:hover {
    background: #0044de;
    cursor: pointer;
}

.pricing-list-new .plan:hover .price .period,
.pricing-list-new .plan:hover .price .sum,
.pricing-list-new .plan:hover .price small,
.pricing-list-new .plan:hover p,
.pricing-list-new .plan:hover span {
    color: #f4f4f4;
}

.pricing-list-new .plan:hover .price .period:after {
    background-color: #fff;
}

.section-pricing {
    padding: 50px 0;
}

.cart-disable-btn {
    opacity: 0.5 !important;
}

.shop-main-inner,
.shop-main-page {
    background-color: #fff;
}

.nk-main {
    overflow: inherit;
}

.next-content,
.prev-content {
    border: 1px solid #007bff !important;
    color: #007bff !important;
}

.next-content i,
.prev-content i {
    margin: 0 !important;
}

.next-previous-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination .page-item-last-hide,
.pagination .page-first-item,
.pagination .page-prev-item {
    display: none !important;
}

.pagination .pagination-left-padding {
    padding-left: 0px !important;
}

.email_notification .nav-text {
    display: flex;
    align-items: center;
}

#ordersModal .modal-dialog {
    max-width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
}

/* menu code css */
.main-menu li:hover > a.dropdown-toggle::after {
    transform: rotate(-90deg);
}

.main-menu ul li > ul li {
    width: 100%;
    padding: 0;
    min-width: 180px;
    position: relative;
}

.main-menu li ul > li:hover > a {
    background-color: #000;
    color: #fff !important;
}

.main-menu ul li > ul li a {
    padding: 6px 14px 6px 10px !important;
    width: 100%;
}

.main-menu li ul > li > a.dropdown-toggle::after {
    position: absolute;
    top: 5px;
    right: 12px;
}

.main-menu ul {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* menu code css */

.nk-navbar .nk-nav-logo {
    width: auto !important;
}

.new-navbar ul li ul {
    z-index: 99999;
}

#hide_shop {
    margin: 10px 0;
}

#checkout_form_cart_checkout {
    padding-bottom: 10px;
}

.slider-new-layout .holder {
    height: 600px;
    background-size: cover !important;
    background-position: center !important;
}

.slider-new-layout .slider-content {
    position: absolute;
    top: 10%;
    left: 10%;
}

.slider-new-layout .slick-list {
    padding: 0 !important;
}

.slider-new-layout .slick-slide {
    position: relative;
}

.slider-new-layout .slick-prev:before,
.slider-new-layout .slick-next:before {
    font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #000 !important;
}

.slider-new-layout .slick-prev:before {
    content: "\f060";
}

.slider-new-layout .slick-next:before {
    content: "\f061";
}

.slider-new-layout .slick-prev {
    left: 10px !important;
}

.slider-new-layout .slick-prev,
.slider-new-layout .slick-next {
    z-index: 9999;
    background-color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px !important;
    height: 30px !important;
}

.slider-new-layout .slick-next {
    right: 10px !important;
}

.slider-new-layout .slick-arrow {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
}

.slider-new-layout .slick-slide:hover .slick-arrow {
    visibility: visible;
    opacity: 1;
}

.slider-new-layout .slick-prev:hover,
.slider-new-layout .slick-prev:focus,
.slider-new-layout .slick-next:hover,
.slider-new-layout .slick-next:focus {
    background: #fff !important;
}

.slider-new-layout .slick-dots {
    display: none !important;
}

.support-chat-text {
    margin-bottom: 0;
}

.nk-nav-icons {
    width: auto !important;
    margin-right: 10px !important;
}

/* Element Layout Css Start */

.element-layout-image {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.element-layout-content {
    padding: 10px;
}

.element-layout-content h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

.element-layout-content p {
    font-size: 20px;
    margin-bottom: 10px;
}

.section.right-iamge-layout,
.section.left-iamge-layout {
    padding: 0;
}

/* Element Layout Css End */

.subscription-container {
    padding: 50px 0;
}

.subscription-container .order-product-button .btn {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.subscription-container .order-product-button .btn .support-chat-text {
    font-size: 14px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.subscription-container .order-chat-modal span.badge {
    right: auto !important;
    top: 0px !important;
    left: 102% !important;
}

.subscription-container .my-order-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-quickcheckout-icon {
    color: #fff !important;
}

.subscription-container {
    padding: 50px 0;
}

.subscription-container .order-product-button .btn {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.subscription-container .order-product-button .btn .support-chat-text {
    font-size: 14px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.subscription-container .order-chat-modal span.badge {
    right: auto !important;
    top: 0px !important;
    left: 102% !important;
}

.subscription-container .my-order-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-mobile-part {
    display: none !important;
    padding: 10px;
}

.navbar-mobile-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-mobile-member > ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.navbar-mobile-member > ul > li {
    margin: 0 5px;
    border: 0;
}

.navbar-mobile-member > ul > li.search button {
    border: 0;
    background-color: transparent;
    color: #000;
    padding: 7px 10px !important;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.navbar-mobile-member > ul > li.btn-cart a {
    background: transparent;
    color: #000;
    padding: 9px 10px !important;
    border-radius: 5px !important;
    line-height: 0;
    text-decoration: none;
    border: 1px solid #ccc;
}

.navbar-mobile-member > ul > li.btn-cart .cart-icon {
    font-size: 16px !important;
}

.navbar-mobile-member > ul > li.btn-member > a {
    background: transparent;
    padding: 8px 10px !important;
    border-radius: 5px !important;
    color: #000;
    text-decoration: none;
    border: 1px solid #ccc;
}

.navbar-mobile-member .btn-member ul.dropdown-menu {
    position: absolute !important;
    top: 96% !important;
    left: auto !important;
    right: 0;
    transform: translate3d(0, 0, 0) !important;
    background-color: #000;
    width: 200px !important;
    min-width: auto;
}

.navbar-mobile-member > ul > li.btn-member a:after,
.navbar-mobile-member > ul > li.btn-cart a:after {
    display: none;
}

.navbar-mobile-member .btn-member ul.dropdown-menu li a {
    color: #000;
    padding: 5px;
}

.navbar-mobile-member .btn-member ul.dropdown-menu li {
    text-align: left;
}

.navbar-mobile-member > ul > li.search {
    position: relative;
}

.navbar-mobile-member > ul > li.search .dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: auto !important;
    right: 0;
    transform: translate3d(0, 0, 0) !important;
    width: auto !important;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.navbar-mobile-member > ul > li.search .dropdown-menu form button span {
    display: inline-block;
    color: #fff;
}

.navbar-mobile-member > ul > li.search .dropdown-menu form button span i {
    float: none;
    margin: 0;
}

.navbar-mobile-member > ul > li.search button:focus {
    outline: unset !important;
}

.navbar-mobile-member > ul > li.search .dropdown-menu .search-header-form {
    justify-content: center;
}

nav.mean-nav ul li a {
    pointer-events: auto !important;
}

a.meanmenu-reveal span {
    top: 8px;
    position: relative;
}

a.meanmenu-reveal > span {
    top: 0px;
}

.mean-container .mean-nav ul li a.mean-expand {
    height: 24px !important;
}

.mean-bar {
    float: unset !important;
}

.navbar-mobile-top {
    position: relative;
    z-index: 999;
}

.mean-bar {
    padding: 0px !important;
}

a.meanmenu-reveal {
    padding: 8px !important;
}

.nav-for-mobile.mean-container .mean-bar {
    z-index: 99;
}

@media screen and (max-width: 1024px) {
    .navbar-mobile-part {
        display: block !important;
    }

    .nk-navbar {
        display: none !important;
    }
}

.product-bundle-total {
    background-color: #d7d7d7 !important;
}

/* .fwidht-sidebar {
    top: 70px !important;
} */

.faq-heading-wrapper {
    background: #f0f0f0;
    line-height: 0;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #e3e3e3;
}

.faq-heading-header h3 {
    margin-bottom: 0 !important;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
}

.faq-heading-header {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.faq-heading-image {
    height: 100% !important;
    width: 300px !important;
}

.faq-heading-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 5px 5px 0;
}

.faq-heading-content {
    margin-top: 40px;
}

span.closeandReload {
    position: absolute;
    background-color: #f00;
    height: 32px;
    width: 32px;
    right: 7px;
    top: 7px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}

select#category_list option {
    background-color: #fff;
    color: #000;
}

.autocomplete-items::-webkit-scrollbar {
    width: 2px;
}

.autocomplete-items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.autocomplete-items::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.autocomplete-items {
    overflow-y: scroll;
    border-bottom: 1px solid #d4d4d4 !important;
    max-height: 600px;
}


/* Pricing layout Css */
.readmore-icon > div:hover {
    background: #007bff;
    color: #fff;
}

th.ultra-th.pricing-card-active-color .btn {
    color: #fff !important;
    background-color: #ced9e4;
    border-color: #007bff;
}

th.ultra-th.pricing-card-active-color {
    background: #007bff;
    box-shadow: 0 8px 32px 0 #007bff;
    border: 1px solid #007bff;
    color: #fff;
    box-shadow: unset !important;
}

.readmore-icon > div {
    display: inline-block;
    position: relative;
    border: 1px solid #007bff;
    padding: 0px 20px;
    color: #007bff;
    border-radius: 10px;
    box-shadow: 0 0 4px 0px #007bff;
}

.pricing-card.pricing-list-new .plan.pricing-card-active-color {
    background: #007bff;
    cursor: pointer;
    box-shadow: 0 8px 32px 0 #007bff;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: scale(1.08);
}

.pricing-card.pricing-list-new .plan:hover {
    background: #007bff;
    cursor: pointer;
    box-shadow: 0 8px 32px 0 #007bff;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.pricing-card.pricing-list-new
    .plan.pricing-card-active-color
    .button-holder
    .btn {
    border-color: #007bff;
}

.pricing-card.pricing-list-new .plan:hover .button-holder .btn {
    border-color: #007bff;
}

.pricing-collection-item.pricing-collection-item-active {
    border: 1px solid #004eff7d;
    background: #6b98ff7d;
    color: #fff;
    box-shadow: 0 0 0 4px #6b98ff7d;
    transition: all 0.3s;
}

.marketing-table thead tr {
    background-color: transparent !important;
}

.fwidth-content .container {
    max-width: none !important;
}

.fwidth-content {
    margin-top: 10px !important;
}

table.marketing-table thead {
    top: 1px !important;
}

.marketing-table td h4 {
    color: inherit !important;
}

table.marketing-table thead {
    top: 0px !important;
}

#termModal .modal-footer .btn,
#cartModal .modal-footer .btn,
#exampleModalCenter .modal-footer .btn,
#exampleModalCenteredit .modal-footer .btn {
    text-transform: unset;
}

.product-info-content .item-cart {
    align-items: baseline !important;
}

.product-info-content .item-price {
    text-align: left !important;
}

.product-info-content .product-tax-text {
    text-align: left !important;
}

.left-iamge-layout .col-md-6,
.right-iamge-layout .col-md-6 {
    padding: 0;
}

.price-on-request-btn {
    margin-right: 5px;
}

.price-on-request-btn .btn {
    padding: 5px 11px !important;
    font-size: 11px;
}


.next-previous-tip-content {

    padding: 7px 7px 15px;
}
.mw-tooltip-dark .mw-tooltip-content {
    padding: 0px;
}

.product-holder.ph-classic .description .element {
    clear: none;
}

body.mw-live-edit  table.marketing-table thead {
    top: 56px !important;
}
.module-pricing-card .modal-content h5#exampleModalLongTitle {
    display: none;
}
.module-pricing-card .modal-content h5#exampleModalLongTitle {
    display: none;
}